# Python
venv/
.env
*.pyc
__pycache__/
*.pyo
*.egg-info/
.pytest_cache/
.cache/

# Node / UI
node_modules/
dist/
.out/
.next/

# Firebase / tooling
.firebase/
firebase-debug.log
.storage/

# OS/IDE
.DS_Store
.vscode/
.idea/

# Data dumps
data/*.csv
data/*.parquet
data/*.zip
